<div class="flex-content">
  <div class="content col-sm-12 container-fluid">

    <div *ngFor="let project of projects$ | async" class="row project-list no-gutters">

      <div class="col-sm-12 project-year display-4" [id]='project[0].year'>
        {{project[0].year}}
      </div>

      <hr/>

      <div *ngFor="let project of project" class="col-sm-12 project">
        <a [routerLink]="[ '/main/projects/individual/', project.id ]" class="col-sm-12 project-title h2">
          {{project.name}}
          <!--<mat-icon class="material-icons">forward</mat-icon>-->
        </a>
        <div class="col-sm-12 col-md-6 col-lg-5 project-desc">
          <table class="table menu01">
            <tbody>

              <tr>
                <td class="table-year">Full name</td>
                <td>
                  {{project.fullname}}
                </td>
              </tr>

              <tr>
                <td class="table-year">Team</td>
                <td>
                  {{project.team?.shortname}}
                </td>
              </tr>

              <tr>
                <td class="table-year">Area</td>
                <td *ngIf="project.area">
                  {{project.area}}
                </td>
              </tr>

              <tr>
                <td class="table-year">Partners</td>
                <td *ngIf="project.partners">
                  {{ project.partners[0]?.name }}
                </td>
              </tr>

              <tr>
                <td class="table-year">Funding</td>
                <td *ngIf="project.partners">
                  {{ project.funding[0]?.name }}
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-5 project-img" (click)="navigateTo(project.id)">
          <!-- <img src="./../../../../assets/Contents/imgs/no_image.jpg" >  -->
          <img default="./../../../../assets/Contents/imgs/no_image.jpg"
              [srcset]= 'imgPath + project.img'
              [src]= 'imgPath + project.img'>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 project-funding">
          <!-- <hr/>
          <p class="menu01">Funding</p>
          <a [href]='project.funding?.link' class="menu02">{{project.funding?.name}}</a> -->
          <hr/>
          <p class="menu01">Manager</p>
          <div *ngFor="let person of project.people">
            <a [routerLink]='["../people", "person", person.id]'>{{person.name}}</a>
          </div>
        </div>

      </div>
      <div class="col-sm-12" style="height:100px;">
      </div>


      <hr/>
    </div>
    
    <!--<ngb-pagination class="pagination" [masmize]="5" [collectionSize]="170"  [(page)]="page" [boundaryLinks]="true"></ngb-pagination>-->

  </div>
</div>
