<div class="flex-content">
  <div class="content col-sm container-fluid">

    <div class="front-image-max">
      <img src="./../../../../assets/Contents/imgs/about_us_intro.png">
      <h2 class="front-title">About Visual Media Lab</h2>
    </div> 

    <div class="row desc-box no-gutters">

      <div class="about-box">
      <p class="about-subtitle">The Visual Media Lab (VML) in the Graduate School of Culture Technology (GSCT) at KAIST is where technology and creativity meet. VML focuses on developing fundamental computer graphics technology and
      software applications specifically for the creation of movie visual effects and animated films. The main research
      area includes character animation, fluid simulation, and stereoscopic visualization. Since its foundation in
      2006, VML has emphasized both R&D and contents production as a core part of lab activity. About 20 Ph.D. and
      master program partners along with more than 10 digital artists have published numerous papers at premium graphics
      conferences and showcased animations at international computer animation festivals. The close relationship with
      industry has allowed VML to contribute its technology to recently released movies.
      </p>

      </div>

      <h2 class="about-title">Contact us</h2>

      <div class="about">
        <div class="about-box">
          <h5 class="about-subtitle orange">Address</h5>
          <p class="about-text">Visual Media Lab, KAIST <br> 373-1 Guseong-dong, Yuseong-gu Daejeon, 305-701, Republic of Korea </p>

          <h5 class="about-subtitle orange">Telephone</h5>
          <p class="about-text">+82-42-350-5918</p>
          <h5 class="about-subtitle orange">Email</h5>
          <p class="about-text">visualmedia@kaist.ac.kr</p>
        </div>
        <!--<div class="about-img"><img src="../../../../assets/imgs/about_us_map.png" class="map"></div>-->
        <!--<sebm-google-map  [latitude]="lat" [longitude]="lng">
          <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>-->
        <div id="map" class="about-img"></div>
      </div>


    </div>
  </div>
</div>
