@import '../../../../assets/css/_variables.scss';

.logo {
    padding-left:1rem;
    padding-bottom: 1rem;
    width: 100%;
}
.publication-title {
    margin-bottom: 3.5rem;
    max-width: 1000px;
}
.row {
    margin: 3.5rem 4rem 6rem 4rem;
}

@media (max-width: 576px) {
    .row {
        margin: 3.5rem 1.5rem 6rem 1.5rem;
    }
}

.row {

    border: 1px solid $primary_light_grey;
    background-color: $primary_white;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.1) !important;
    padding: 1rem 2rem;

    iframe {
        margin-top: 3rem;
    }

    
    .desc {
        .author-box {
            display:flex;
            flex-flow: row wrap;
            .authors {
                margin-bottom: 1rem;
            }
        }
        .imgDiv {
            margin: 3.5rem 0 6rem 0;
            .max-img {
                width: 100%;
            }
        }
    }
}

.abstract {
    max-width: 1000px;
    line-height: 2;
}

.videos {
    cursor:pointer;
}
.video-item {
    width:100%;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 1.5rem;
    img {
        width: 100%;
    }
}


@media (max-width: 991px) {
    .display-2 {
        font-size: 2.5rem;
    }
    .h5 {
        font-size: 1rem;
    }
}

table {
    a:link {
        color: #F05A29;
        text-decoration :none;
    }

    a:visited {
        color: #FAAF40;
        text-decoration :none;
    }

    a:active {
        color: #0000FF;
        text-decoration :none;
    }

    a:hover {
        color: #FF3300;
        text-decoration :none;
    }

    body {
        font-family: 'Noto Sans KR';
        font-size: 11pt;
        margin: 80px;
        margin-top: 70px;
        margin-bottom: 70px;
        color: #5a5a5a;
    }

    h1 {
        font-size: 200%;
        margin-top : 20px;
        margin-bottom: 20px;
        color: #645367;
    }

    h2 {
        font-size: 150%;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #645367;
    }

    h3 {
        font-size: 120%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    p {
        margin-top: 0em;
        margin-bottom: 5px;
    }

}