@import '../../../../assets/css/_variables.scss';

.logo {
    padding-left:1rem;
    padding-bottom: 1rem;
}
.publication-title {
    margin-bottom: 3.5rem;
}
.row {
    margin: 3.5rem 4rem 6rem 4rem;
}

@media (max-width: 576px) {
    .row {
        margin: 3.5rem 1.5rem 6rem 1.5rem;
    }
}

.row {

    border: 1px solid $primary_light_grey;
    background-color: $primary_white;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.1) !important;
    padding: 1rem 2rem;

    iframe {
        margin-top: 3rem;
    }

    
    .desc {
        .author-box {
            display:flex;
            flex-flow: row wrap;
            .authors {
                margin-bottom: 1rem;
                h5 {
                    display: inline;
                    padding-right: 0.5rem;
                }
            }
        }
        .imgDiv {
            margin: 3.5rem 0 6rem 0;
            .max-img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 991px) {
    .display-2 {
        font-size: 2.5rem;
    }
    .h5 {
        font-size: 1rem;
    }
}