<div class="flex-content">
  <div class="content col-sm container-fluid">

    <div *ngFor="let data of pubs$ | async" class="row list">
      <!--<h2 class="year-title" [id]='id' >{{id}}</h2>-->
      <div class="col-sm-12 year display-4" [id]='data[0].year'>
        {{data[0].year}}
      </div>

      <div *ngFor="let publication of data" class="data-box">
        <div class="data-img">
          <img default="./../../../../assets/Contents/imgs/no_image.jpg" 
              [srcset]= 'imgPath + publication.img + " 800w, " +
                        imgPath+ publication.smallimg + " 300w "'
              sizes="(min-width:990px) 300px, 800px">
          <!-- <img default="./assets/imgs/no_image.jpg" [srcset]=" imgPath + publication.img" [src]=" imgPath + publication.img"> -->
        </div>
        <div class="data-desc">
          <a [routerLink]='[ "individual", publication.id]' class="h3" >{{publication.title}}</a>
          <div class="people_name">
            <p *ngFor="let author of publication.authors; let isLast=last">
              {{author}}{{isLast ? '' : ', '}}
            </p>
          </div>
          <p class="menu01" *ngIf='publication.conference'>Conference: {{publication.conference}}</p>
          <p class="menu01" *ngIf='publication.journal'>Journal: {{publication.journal}}</p>

          <!-- <p class="menu01"> <a href='./../../../../assets/test.html' target="_blank">Open Project Page</a> -->

        </div>
      </div>

      <hr/>

    </div>

  </div>
</div>
