<div class="flex-content">

  <div class="content col-sm-12 container-fluid">
    
    <div class="row">
      <div *ngFor="let person of person$ | async"  class="person-img">
        <img class="personimg" default="./assets/imgs/no_image.jpg" 
            [srcset]=" imgPath + person.img"
            [src]=" imgPath + person.img"
            >

        <h5 *ngIf="person.email">E-mail</h5>
        <p>{{person.email}}</p>

        <h5 *ngIf="person.email">Book</h5>
        <p>틀을 깨려는 용기가 필요해 </p>
        <img (click)="navigateToBook()" src="http://image.kyobobook.co.kr/images/book/large/501/l9788956244501.jpg" class="book">

      </div>


      <div class="person-desc">
        <div *ngFor="let person of person$ | async">
          <h1>{{person.name}}</h1>
          <p>{{person.type | typeChange}}</p>
          <div *ngIf="person.affiliation;then content else other_content">here is ignored</div>

          <ng-template #content><p>{{person.affiliation}}</p></ng-template>
          <ng-template #other_content><p>Visual Media Lab <br> Graduate School of Culture and Technology, KAIST</p></ng-template>

          
          <hr/>

          <h3>Research Interest</h3>
          <div>
            <p class="topics">{{person.topics}}</p>
          </div>
          <hr/>
        </div>

        <div>
          <h3>Education</h3>
          <table class="table">
            <tbody>
              <tr *ngFor="let edu of education$ | async">
                <td class="table-left">
                  <span *ngIf='(edu.since).length > 0 '>{{edu.since}}</span>
                  <span *ngIf='(edu.until).length > 0 '>{{edu.until}}</span>
                </td>
                <td>
                  <p>{{edu.main}}</p>
                  <sub>{{edu.sub}}</sub>
                </td>
              </tr>
            </tbody>
          </table>
          <hr/>
        </div>

        <div>
          <h3>Appointment</h3>
          <table class="table">
            <tbody>
              <tr *ngFor="let app of appointment$ | async">
                <td class="table-left">
                  <span *ngIf='(app.since).length > 0 '>{{app.since}} </span>
                  <span>- </span>
                  <span *ngIf='(app.until).length > 0 '>{{app.until}}</span>
                </td>
                <td>
                  <p>{{app.main}}</p>
                  <sub>{{app.sub}}</sub>
                </td>
              </tr>
            </tbody>
          </table>
          <hr/>
        </div>

      </div>
    </div>
  </div>
</div>


