@import '../../../../assets/css/_variables.scss';

hr {
    margin-bottom: 0;
    width:100%;
}

//modal
.modal-lg {
    max-width: 1200px;
}

.modal-content {
    width: 100%;

    .modal-header {
        justify-content: flex-end;
    }

    .modal-body {
        img {
            width:100%;
        }
    }
}
//

.card-columns {
    margin-bottom: 5rem;
    max-width:1000px;
    .card {
        cursor:pointer;
        img{
            width: 100%;
        }
    }
}

::-webkit-scrollbar {
    width: 1px;
    height: 2px;
}


.life-row {
    margin-bottom: 3.5rem;

    .year {
        padding: 0;
        margin-bottom: 3.5rem;
    }
    .date {
        color:$primary_orange;
    }

    .life-title {
        margin-bottom:2rem;
        font-weight: 600;
    }

    .life-content {
        display:flex;
        flex-flow:row;

        max-height:700px;
        overflow:scroll;

        .data-date {
            min-width: 3.5rem;
            width: 3.5rem;
            margin-right:1.5rem;
            margin-bottom:1.5rem;

            .date {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 576px) {
    .card {
        margin-bottom: 1rem;
    }
}