<div class="flex-content">
  <div class="make_dimmer"></div>
  <div class="content col-sm container-fluid">
    <div class="row start-row no-gutters">

      <h2 class="about-title text-center">Working with Visual Media Lab</h2>

      <p class="text-center">Visual Media Lab is looking for ...</p>

      <div class="member_image_box col-sm-12">
        <!-- card container-->
        <div class="partner-box col-sm-12 col-md-6 col-lg-3">
          <div class="partner-img text-center"><img [src]='relPath + "about_admission_01.png"'></div>
          <div class="partner-text text-center">
            <h3>Student Researchers</h3>
            <p>Talented and motivated students interested in the field of computer graphics.</p>
          </div>
          </div>
        <!-- card container-->
        <div class="partner-box col-sm-12 col-md-6 col-lg-3">
          <div class="partner-img"><img [src]="relPath + 'about_admission_02.png'"></div>
          <div class="partner-text text-center">
            <h3>Postdoc Researchers</h3>
            <p>Highly motivated postdoc researchers in the area of character animation, fluid simulation or computer vision.</p>
          </div>
        </div>
        <!-- card container-->
        <div class="partner-box col-sm-12 col-md-6 col-lg-3">
          <div class="partner-img"><img [src]=" relPath + 'about_admission_03.png'" alt="Partner Company Img"/></div>
          <div class="partner-text text-center">
            <h3>CG Programmers</h3>
            <p> Talented and enthusiastic CG programmers to support our VFX, Animation production and CG research.</p>
          </div>
        </div>
        <!-- card container-->
        <div class="partner-box col-sm-12 col-md-6 col-lg-3">
          <div class="partner-img"><img [src]=" relPath + 'about_admission_03.png'" alt="Partner Company Img"/></div>
          <div class="partner-text text-center">
            <h3>CG Artist</h3>
            <p>Talented, motivated, and experienced CG artists to join its production team. Should have experience in modeling, rendering or effects.</p>
          </div>
        </div>
      </div>
      <div class="divider"></div>
    </div>


    <div class="row contact-row no-gutters">
      <div class="contact-intro">
        <h2 class="text-center">CONTACT US</h2>
        <p class="text-center">Contact us if you have any questions about VML.</p>
        <p class="text-center">Email us if you have resume to send: <a href="#">visualmedia_at_kaist.ac.kr</a></p>
        <p class="text-center">For student researchers, you must first apply to KAIST Graduate School of <a href="https://ct.kaist.ac.kr">Culture Technology (GSCT)</a></p>
      </div>
      <!--<form class="contact-form">
        <md-input-container>
          <input mdInput placeholder="Your Name" value="John Doe">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Your Email" value="example@example.com">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Message" value="any message">
        </md-input-container>
        <button md-raised-button type="submit">SUBMIT</button>
      </form>-->
    </div>
  </div>
</div>