$primary_orange: #F05A29;
$primary_yellow: #FAAF40;
$primary_dark_grey: #262626;
$primary_grey: #646367;
$primary_light_grey: #f7f3eb;
$primary_white: rgba(255,255,255,0.87);

$navbar_height: 76px;
$sidebar-width: 250px;



