
@import '../../../../assets/css/_variables.scss';

.spon {
    cursor:pointer;
}
.spon:hover {
    color:$primary_orange;
}

.row {
    justify-content: center;
}

.front-image-max {
    background-color:$primary_yellow;
    position:relative;
    flex-grow:1;
    margin-left:-$sidebar-width;
    img {
        margin-left:0;
        width: 100vw;
        padding-left:250px;
    }
    .front-title {
        max-width: 50vw;
        margin-left:0;
        color: $primary_white;
        position: absolute;
        bottom: 1rem;
        width: 100%;
        left: 20.5rem;
        h2, p {
            color: inherit;
        }
    }
}

@media (max-width: 576px) {
    .front-title p {
        display:none;
    }
}
@media (max-width: 990px) {
    .row {
        margin: 3.5rem 3.5rem 6rem 3.5rem;
    }
}

@media (max-width: 1479px) {
    .front-image-max {
        img {
            margin-left:$sidebar-width;
            padding-left:0px;
        }
        .front-title {
            left: 5rem;
            margin-left:$sidebar-width;
        }
    }
}
.sponser-box {
    border: 1px solid $primary_light_grey;
    background-color: $primary_white;
    padding: 1rem;
    margin-bottom: 3.5rem;

    p, h5 {
        margin-bottom:0;
    }
    sub {

        color: $primary_orange;
    }
    h5 {
        font-weight: 600;
    }
    .sponser-name, .sponser-title {
        margin-bottom:2rem;
    }
}

@media (min-width: 991px) {
    .sponser-box {
        margin: 0 1rem;
    }

}

@media (min-width: 1479px) {
    .sponser-box {
        margin: 0 2rem;
    }
}
