<div class="flex-content">

  <div class="content col-sm-12 container-fluid">
    
    <div *ngFor="let person of person$ | async" class="row">
      <div class="person-img">
        <img default="./assets/imgs/no_image.jpg" 
            [srcset]=" imgPath + person.img"
            [src]=" imgPath + person.img"
            >

        <h3 *ngIf="person.email">E-mail</h3>
        <p>{{person.email}}</p>

      </div>

      <div class="person-desc">
        <h1>{{person.name}}</h1>
        <p>{{person.type | typeChange}}</p>
        <div *ngIf="person.affiliation;then content else other_content">here is ignored</div>

        <ng-template #content><p>{{person.affiliation}}</p></ng-template>
        <ng-template #other_content><p>Visual Media Lab <br> Graduate School of Culture and Technology, KAIST</p></ng-template>

        
        <hr/>

        <h3>Research Interest</h3>
        <div>
          <p class="topics">{{person.topics}}</p>
        </div>
        <hr/>

        <!--<div class="test" *ngIf="person.innerHTML" [innerHTML]="person.innerHTML"></div>-->
        <!-- <div class="test" [innerHTML]="(individual$ | async)?.innerHTML | safeHtml"></div> -->

        <div *ngIf="person.publications" >
          <h3>Publications</h3>
          <table class="table">
            <tbody>
              <tr *ngFor="let pub of person.publications | orderBy:order:ascending">
                <td class="table-left">{{pub.conference}}</td>
                <td>
                  <p>{{pub.title}}</p>
                </td>
              </tr>
            </tbody>
          </table>
          <hr/>
        </div>
        
        <div>
        </div>

        <div *ngIf="person.projects" >
          <h3>Projects</h3>
          <table class="table">
            <tbody>
              <tr *ngFor="let pro of person.projects | orderBy:order:ascending">
                <td class="table-left">{{pro.year}}</td>
                <td>
                  <p>{{pro.name}}</p>
                </td>
              </tr>
            </tbody>
          </table>
          <hr/>
        </div>

        <!-- <div *ngIf="person.projects">
          <h3 >Projects</h3>
          <div class="projects">
            <div class="project-item">
              <h5>{{person.projects.name}} ({{person.projects.year}})</h5>
              <h5>asdfsafsfasdfsadfasfs</h5>
            </div>
            <div class="project-item">
              adfadfasfsfsfdsa
            </div>
          </div>
          <hr/>
        </div> -->

        <div *ngIf="person.seminars">
          <h3>Seminars</h3>
          <div class="projects">
            <div *ngFor="let seminar of person.seminars " class="video-item">
              <img videoThumbnail [videoUrl]='seminar.link' 
                  sizes="(min-width:990px) 300px, 800px" class="videos">
              <p>{{seminar.title}}</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>



<!--<h3>List Title</h3>
<div>
  <p>list one</p>
  <p>list two</p>
  <p>list three</p>
</div>
<hr/>

<h3>Table Title</h3>
<table class="table">
  <tbody>
    <tr>
      <td class="table-left">Table left column</td>
      <td>
        <p>Table right column, first line</p>
        <p>Table right column, second line</p>
        <p class="menu02">Table right column, thrid line, small text</p>
      </td>
    </tr>
    <tr>
      <td class="table-left">Table left column</td>
      <td>
        <p>Table right column, first line</p>
        <p>Table right column, second line</p>
        <p class="menu02">Table right column, thrid line, small text</p>
      </td>
    </tr>
    <tr>
      <td class="table-left">Table left column</td>
      <td>
        <p>Table right column, first line</p>
        <p>Table right column, second line</p>
        <p class="menu02">Table right column, thrid line, small text</p>
      </td>
    </tr>
  </tbody>
</table>
<hr/>-->



