@import '../../../../assets/css/_variables.scss';

.content {
    display:flex;
    flex-flow:column;
}

.list {
    max-width: 1200px;
    .year {
        padding: 0;
        margin-bottom: 3.5rem;
    }
}

hr {
    margin-bottom: 0;
    width:100%;
}

.data-box {
    display:flex;
    margin-bottom: 3.5rem;
    ////
    width:100%;

    .data-img {
        cursor:pointer;
        width: 300px;
        min-width:300px;
        min-height:200px;
        img {
            width: 100%;
        }
    }

    .data-desc {
        flex-grow:1;
        margin: 0 1.5rem;

        display:flex;
        flex-flow:column;
        justify-content: space-between;
        p {
            margin-bottom: 0.3rem;
        }
    }
    .data-type {
        min-width: 200px;
        width: 200px;
        p {
            margin-bottom: 0.5rem;
        }
        img {
            border-radius: 50%;
            margin: auto;
            width:100%;
        }
    }

}


@media (max-width: 991px) {
    .data-box {
        flex-flow:column;
        .data-desc {
            margin: 2rem 0 2rem 0;
        }
    }
    .data-img {
        width:100% !important;
    }


}
@media (max-width: 575px) {
}

// @import '../../../../assets/css/_variables.scss';

// .year {
//     padding: 2rem 3rem 3rem;
//     flex-flow:column;
//     .year-title {
//         color: $primary_grey;
//         margin-bottom: 3rem;
//     }
// }
// .weekly-box {
//     display:flex;
//     margin-bottom: 5rem;

//     .weekly-img {
//         min-width: 240px;
//         width: 240px;
//         height: 160px;
//         background-color: black;
//     }
//     .weekly-desc {
//         display: flex;
//         flex-flow:column;
//         margin: 0 1.5rem;
//         color: $primary_grey;
//         h5, h3 {
//             color: $primary_dark_grey;
//         }
//         .weekly-text {
//             flex-grow: 1;
//             margin-bottom: 1rem;
//         }
//     }
//     .weekly-type {
//         min-width: 240px;
//         width: 240px;
//         p {
//             margin-bottom: 0.5rem;
//         }
//     }

// }


// @media (max-width: 991px) {
//     .weekly-box {
//         flex-flow:column;
//         .weekly-desc {
//             margin: 2rem 0 2rem 0;
//         }
//     }
//     .weekly-img {
//         width:100% !important;
//     }


// }
// @media (max-width: 575px) {
// }
