@import '../../../../assets/css/_variables.scss';

//modal
.modal-lg {
    max-width: 60vw;
}

.modal-content {
    width: 100%;

    .modal-header {
        justify-content: flex-end;
    }

    .modal-body {
        img {
            width:100%;
        }
    }
}
//

@media (max-width: 576px) {
    .modal-lg {
        width: unset;
    }
}




@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    .row {
        height:50%;
    }

}

.row {
    padding: 2rem 3rem 3rem;
    flex-flow:column;
}
.equipment {
    // row
    display: flex;
    flex-wrap:wrap;
    max-width: 1250px;
    padding: 0 0 2rem 0;
    margin-bottom: 3.5rem;

    .equipment-title {
        font-size: 2rem;
        padding-bottom: 1rem;
        padding-left: 0rem;
        margin-bottom: 3.5rem;
    }
    .equipment-box {
        margin-bottom: 2rem;
        padding-left: 0;

        img:hover {
            -webkit-filter: grayscale(100%) contrast(80%);
        }

        // .equip-img {
        //     display: flex;
        //     overflow:hidden;
        //     flex-flow: column;
        //     align-items: center;

        //     img {
        //         width: 100%;
        //         min-height:1px;
        //     }
        // }
    }
}
